<span class="equity_score"><%= equity_name %></span>
|
<span tabindex="0" aria-haspopup="true" data-tooltip="true" data-keep-on-hover="true" data-click-open="false" data-container="body" data-disable-hover="false" class="has-tip equity_info" title="<%= t("proposal_description", scope: "decidim.proposals.equity") %>">
  <%= t("card_more_info", scope: "decidim.proposals.equity") %>
</span>
<br />
